<template>
  <div class="m-4">
    <div class="text-2xl underline">About</div>
      Python Library is an demo application created by Andrew Jorgenson in django.
      <br>
      Styling and responsiveness are time-intensive to achieve. This demo application was only built to be functional. To see an example of perfectionism, please <a href='https://www.andrewjorgenson.net' target='_blank' class="underline text-blue-900">check out my portfolio</a> built with Vue3 and TailwindCSS hosted via Netlify for CI/CD.
      <div class="font-bold mt-1">Your feedback would be greatly appreciated!</div>
      <div class="font-bold mt-3">Back-End</div>
      <ul class="list-disc pl-6 max-w-5xl">
        <li>
        Django
        <ul class="list-disc pl-6">
          <li>Fairly new to the framework and haven't had the opportunity to collaborate with other developers on it.</li>
          <li>If you spot something silly, please let me know!</li>
        </ul>
        </li>
        <li>
          Okta Authentication
          <ul class="list-disc pl-6">
            <li>Chose to go with strictly token validation. This mimics a real world application where microservices are tied together by an SPA.</li>
            <li>
            Initially tried Auth0. Their documentation had several different examples.
            One had deprecated packages, the others had the back-end distribute the token to the client - rather than the client retrieving the token from the credential provider directly.
            </li>
            <li>
            When going to use Okta, the <i>okta-jwt</i> package was unable to retrieve the rotating keys correctly. I found an open issue in the git repo for this.
            </li>
            <li>Since the package was not going to work and I already had invested far more time than I'd like to into auth for a demo app, I chose to hit Okta's API to introspect the token. This is likely a no-no from a performance perspective; however, I wonder how bad it really is considering you have to hit Okta for their rotating public keys anyways when validating the token.</li>
          </ul>
        </li>
        <li>PyTest unit tests</li>
        <li>Integration with Google Books API, custom client</li>
      </ul>
      <div class="font-bold mt-3">Front-End</div>
      <ul class="list-disc pl-6">
        <li>Vue</li>
        <li>Vue Router</li>
        <li>VueX (State Management/Store)</li>
        <li>TailwindCss</li>
        <li>Okta Authentication</li>
      </ul>
      <div class="font-bold mt-3">Areas for design improvement</div>
      <ul class="list-disc pl-6">
        <li>okta auth token on front end does not refresh, so when it times out the user has to log out & log back in</li>
        <li>CSRF protection needs to be implemented</li>
        <li>Would be nice to wrap the Okta auth into the Django properly</li>
        <li>allow pagination of books</li>
        <li>validation via serializers</li>
        <li>change determination of books being in a user's library to being appended on search results rather than being done by the front end</li>
        <li>database is not fully normalized, unnecessary fields are kept for expandability as no strict requirements have been set</li>
        <li>APIs could return only the necessary data to the front end</li>
        <li>Google Books API has inconsistent results. Sometimes fields are missing from books including images, other times it will return duplicate entries including matching ids. It's possible that some things have not been accounted for yet.</li>
      </ul>
  </div>
</template>
