<template>
  <div class="text-3xl text-center">
  Welcome! Please use the navigation at the top.
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  name: 'Home',
  computed: {
      ...mapGetters(['libraryBooks', 'isAuthenticated']),
  },
  mounted() {
    if (this.isAuthenticated && !this.libraryBooks.length) {
        this.$store.dispatch('loadLibrary');
    }
},
}
</script>
