<template>
  <div class="px-20">
    <template v-if="libraryBooks.length">
    <div class="text-2xl w-full text-center">Your Book Selection</div>
    <div class="flex justify-center flex-wrap">
        <LibraryBook 
    v-for="book in libraryBooks" 
    :book="book"
    :key="book.pk" />
    </div>
    </template>
    <template v-else>
    <div class="text-2xl w-full text-center block ">
    There are no books in your library.
    <router-link class="underline" to="/search">Click here to find some.</router-link>
    </div>
    </template>
  </div>
</template>

<script>
import LibraryBook from '../components/LibraryBook.vue'
import {mapGetters} from 'vuex'
export default {
    name: 'Library',
    components: {
        LibraryBook
    },
    computed: {
        ...mapGetters(['libraryBooks']),
    },
    mounted() {
        if (!this.libraryBooks.length) {
            this.retrieveLibrary();
        }
    },
    methods: {
        retrieveLibrary() {
            this.$store.dispatch('loadLibrary')
        }
    }
}
</script>
