<template>
  <div class="flex justify-center">
    <form @submit.prevent="login" autocomplete="off" class="max-w-md">
      <p v-if="$route.query.redirect">
        You need to login first.
      </p>
      <input class="text-input" v-model="email" placeholder="email">
      <input class="text-input" v-model="pass" placeholder="password" type="password">
      <button class="m-2 border-2 border-black w-full" type="submit">login</button>
      <p v-if="error" class="error">Bad login information</p>
    </form>
  </div>
</template>

<script>
  import oktaClient from '../oktaClient'
  export default {
    data () {
      return {
        email: '',
        pass: '',
        error: false
      }
    },
    methods: {
      login () {
        oktaClient.login(this.$store, this.email, this.pass, (loggedIn) => {
          if (!loggedIn) {
            this.error = true
          } else {
            this.$router.replace(this.$route.query.redirect || '/library')
          }
        })
      }
    }
  }
</script>

<style scoped>
  .text-input {
    @apply m-2;
    @apply border-2;
    @apply border-dashed;
    @apply border-black;
    @apply block;
    @apply w-full;
  }
  .error {
    color: red;
  }
</style>
