<template>
  <div class="">
  <div class="text-2xl w-full text-center">Search Google Books</div>
  <div class="flex justify-center">
    <div>
      <input v-model="searchQuery" class="m-2 border-2 border-dashed border-black inline" type="text" placeholder="Python Development" @keyup.enter="search">
      <button class="border-2 border-black" @click="search">Search</button>
    </div>
  </div>
  <div class="flex flex-wrap justify-center">
    <BookSearchResult v-for="book in searchedBooks" :key="book.id + book.etag" :book="book"/>
  </div>
  </div>
</template>

<script>
import BookSearchResult from '../components/BookSearchResult.vue'
import {mapGetters} from 'vuex'
export default {
    components: {
    BookSearchResult,
  },
  name: 'Search',
    computed: {
      ...mapGetters(['bookSearchQuery', 'searchedBooks']),
      searchQuery: {
        get() {
          return this.bookSearchQuery
        },
        set(value) {
          this.$store.commit('setBookSearchQuery', value)
        }
      }
    },
    methods: {
      search() {
        this.$store.dispatch('searchBooks')
      }
    }
}
</script>


<style scoped>
  .text-input {
    @apply m-2;
    @apply border-2;
    @apply border-dashed;
    @apply border-black;
    @apply block;
    @apply w-full;
  }
</style>