<template>
    <div class="w-xs mx-2">
        <img class="w-full" :src="secureThumbnail">
        <div class="w-full">
        <button class="w-1/2 bg-blue-300 hover:bg-blue-400 p-1" @click="viewBook">View</button>
        <button v-if="!bookInLibrary" class="w-1/2 bg-green-300 hover:bg-green-400 p-1" @click="addBook">Add</button>
        <button v-if="bookInLibrary" class="w-1/2 bg-red-300 hover:bg-red-400 p-1" @click="removeBook">Remove</button>
        </div>
    </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
    name: 'BookSearchResult',
    props: {
        book: Object,
    },
    computed: {
        ...mapGetters(['libraryBooks']),
        bookInLibrary() {
            return this.libraryBooks.filter(b => b.pk === this.book.id).length > 0
        },
        secureThumbnail() {
            if (!Object.prototype.hasOwnProperty.call(this.book.volumeInfo, 'imageLinks')) {
                return "https://via.placeholder.com/128x190.png?text=No%20Picture";
            }
            return this.book.volumeInfo.imageLinks.thumbnail.replace("http://", "https://")
        }
    },
    methods: {
        viewBook() {
            window.open(`http://books.google.com/books?id=${this.book.id}`)
        },
        addBook() {
            this.$store.dispatch('addBookToLibrary', this.book.id)
        },
        removeBook() {
            this.$store.dispatch('removeBookFromLibrary', this.book.id)
        }
    }
}
</script>