<template>
    <div class="w-xs mx-2">
        <img class="w-full" :src="secureThumbnail">
        <div class="w-full">
        <button class="w-1/2 bg-blue-300 hover:bg-blue-400 p-1" @click="viewBook">View</button>
        <button class="w-1/2 bg-red-300 hover:bg-red-400 p-1" @click="removeBook">Remove</button>
        </div>
    </div>
</template>
<script>
export default {
    name: 'LibraryBook',
    props: {
        book: Object,
    },
    computed: {
        secureThumbnail() {
            return this.book.fields.image_links.thumbnail.replace("http://", "https://")
        }
    },
    methods: {
        viewBook() {
            window.open(`http://books.google.com/books?id=${this.book.pk}`)
        },
        removeBook() {
            this.$store.dispatch('removeBookFromLibrary', this.book.pk)
        }
    }
}
</script>