<template>
<div class="flex justify-center">
        <div><router-link active-class="nav-item-active" class="nav-item" v-if="isAuthenticated" to="/library">Library</router-link></div>
        <div><router-link active-class="nav-item-active" class="nav-item" v-if="isAuthenticated" to="/search">Find Books</router-link></div>
        <div><router-link active-class="nav-item-active" class="nav-item" to="/about">About</router-link></div>
        <div><router-link active-class="nav-item-active" class="nav-item" v-if="isAuthenticated" to="/logout">Log out</router-link></div>
        <div><router-link active-class="nav-item-active" class="nav-item" v-if="!isAuthenticated" to="/login">Log in</router-link></div>
</div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    name: 'Navigation',
    computed: {
        ...mapGetters(['isAuthenticated']),
    },
}
</script>

<style scoped>
.nav-item {
    @apply font-bold;
    @apply p-2;
    @apply m-3;
    @apply border-2;
    @apply border-dashed;
    @apply border-gray-800;
    @apply block;
}

.nav-item:hover {
    @apply border-solid;
}

.nav-item-active {
    @apply font-normal;
    @apply text-gray-600;
    @apply border-2;
    @apply border-dashed;
    @apply border-gray-300;
}

.nav-item-active:hover {
    @apply border-dashed;
    @apply border-gray-300;
    @apply cursor-default;
}
</style>