<template>
  <div id="app">
    <h1 class="text-5xl text-center">Python Library</h1>
    <Navigation/>
    <template v-if="$route.matched.length">
      <router-view></router-view>
    </template>
  </div>
</template>

<script>
import Navigation from './components/Navigation.vue'
export default {
  components: {
    Navigation
  }
}
</script>